<form method="POST" action="{% url 'paymargo:option' %}" class="form">
    {% csrf_token %}
    <input type="hidden" name="pay_option" value="{{ pay_option }}" />

    <button type="submit" class="btn btn-success btn-lg">Acepto</button>

</form>
