{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'search:query' as search_url%}
{% url 'members:list' as member_list_url%}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
{% url 'cart:home' as cart_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand" href="{{ home_url }}">
            <img src="http://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            {% if brand_name %} {{ brand_name }} {% else %} Margo {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == contact_url %} active {% endif %}">
                    <a class="nav-link" href="{{ contact_url }}">Contactanos</a>
                </li>
                <li class="nav-item {% if request.path == search_url %} active {% endif %}">
                    <a class="nav-link" href="{{ search_url }}">Enviar</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item {% if request.path == logout_url %} active {% endif %}">
                        <a class="nav-link" href="{{ logout_url }}">Cerrar sesión</a>
                    </li>
                {% else %}
                    <li class="nav-item {% if request.path == login_url %} active {% endif %}">
                        <a class="nav-link" href="{{ login_url }}">Iniciar sesión</a>
                    </li>
                    <li class="nav-item {% if request.path == register_url %} active {% endif %}">
                        <a class="nav-link" href="{{ register_url }}">Registrarse</a>
                    </li>
                {% endif %}
                <li class="nav-item {% if request.path == cart_url %} active {% endif %}">
                    <a class="nav-link" href="{{ cart_url }}">{{ request.session.cart_items }} <i class="fas fa-exchange-alt"></i></a>
                </li>

            </ul>
{#            {% include 'search/snippets/search-form.html' %}#}
        </div>
    </div>
</nav>
