{% extends "base.html" %}

{% load static %}

{% block base_head %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1> Bienvenido </h1>
        <b>{{ name }}!</b>
    </div>
    <div class="row">
        <div class="col text-center">
            <img src="{{ image.url }}" width="200" height="200" class="img-fluid py-5" alt=""/>
            <p class="py-3"> Balance Margo: {{ balance }}</p>
            <a href="{% url 'banks:home' %}">Add Money</a>
        </div>
    </div>

{% endblock %}
