{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="col-6 mx-auto py-5 text-center">
        <h1 class="display-1">Transaccion completa!</h1>
        <img src="{% static 'img/check.png' %}" class="img-fluid" alt=""/>

    </div>


{% endblock %}
