{% extends "base.html" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Checkout</h1>
                <p>Deseas enviar {{ object.cart.amount }} a {{ object.cart.member }}?</p>
                <hr/>
                <p>Costo de la transaccion: {{ object.cart.margo_cost }}</p>
                <p>Total: {{ object.order_total }}</p>
                <form class="form" method="POST" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Finalizar</button>
                </form>

            </div>
        </div>
    </div>


{% endblock %}
