{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Cart</h1>
                {% if cart.member is not None %}
                    <img src="{{ cart.member.image.url }}" class="img-fluid" alt=""/><br/>
                    <b>{{ cart.member.name }}</b><br/>
                    {{ cart.member.rating }}<br/>
                    <p>Tu balance: {{ balance }}<br/></p>


                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-default">Enviar</button>

                    </form>

                    {% include 'member/snippets/remove-cart.html' with member=cart.member cart=cart in_cart=True%}
                {% else %}
                    <p class="lead">Cart is empty</p>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
