{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-6 text-center">
            <img src="{{ object.image.url }}" class="img-fluid" alt=""/><br/>
            <p class="py-2">
                <b>{{ object.name.title }}</b><br/>
                {{ object.username }}<br/>
                {{ object.rating }}<br/>
            </p>
        </div>
        <div class="col-12 col-md-6 text-center">

            {% include 'member/snippets/update-cart.html' with member=object cart=cart %}

        </div>

    </div>

{% endblock %}
