{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="{{ object.image.url }}" class="img-fluid" alt=""/><br/>
            {{ object.name.title }}<br/>
            {{ object.username }}<br/>
            {{ object.rating }}<br/>
        </div>
    </div>

{% endblock %}
