{% extends "base.html" %}

{% block content %}
    <div class="row">
        {% for obj in object_list %}
            <div class="col">
                {% include 'member/snippets/card.html' with instance=obj %}

                {% if forloop.counter|divisibleby:3 %}
                    </div></div><div class="row"><div class="col-12" style="min-height: 20px;"></div>
                {% else %}
                    </div>
                {% endif %}

        {% endfor %}

{% endblock %}
