{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-6">
            <h1>Iniciar sesión</h1>
            <form method="POST">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-default">Login</button>

            </form>
        </div>
    </div>


{% endblock %}
