{%  extends "base.html" %}

{% block content %}

    <div class="text-center">
        <h1>{{ title }}</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <p><b>{{ content }}</b></p>
                <div class="col-sm-6 col-12">
                    <form method="post">{% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-default">Enviar</button>

                    </form>
                </div>
            </div>
        </div>

    </div>

{%  endblock %}