{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col py-3 mx-auto">
                <h1>Añadir cuenta bancaria</h1>
                <hr/>
                <form method="POST">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn-success btn-lg">Add</button>

                </form>
            </div>
        </div>
    </div>


{% endblock %}
