{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">


        <div class="row">
            <div class="col">
            <h1>Cuentas Bancarias</h1>
            {% if bank_obj == None %}
                No hay ninguna cuenta aun.
            {% else %}
                {% for obj in bank_obj %}
                    <h3 style="color: brown">{{ obj.bank_name }}<br></h3>
                    {% if obj.nickname %} {{ obj.nickname }}<br/> {% endif %}
                    {{ obj.get_account_number }}<br/>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="bottom-align">
                <a href="{% url 'banks:add' %}" type="button" class="btn btn-info btn-lg btn-block">Add Bank account</a>
            </div>
        </div>


{% endblock %}

