{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Parece que haz llegado a tu limite!</h1>
        <p class="lead">Si deseas continuar con esta transaccion, el costo es {{ cart_obj.margo_cost }} dolares. Tambien puedes disminuir la cantidad que deseas enviar o esperar hasta el renuevo de tu servicio.</p>
        <hr class="my-4">
        <p>Deseas realizar el pago de {{ cart_obj.margo_cost }} dolares?</p>
        {% include 'paymargo/snippets/pay-update.html' with pay_option=cart_obj.margo_cost %}
    </div>
    <h1>O prefieres...</h1>
    <p></p>
    <div class="jumbotron">
        <h1 class="display-4">Puedes usarlo ilimitado</h1>
        <p class="lead">Si deseas continuar usando Margo ilimitado por el mes, el costo es 20.00 dolares.</p>
        <hr class="my-4">
        <p>Deseas usar Margo ilimitado por 20.00 dolares?</p>
        {% include 'paymargo/snippets/pay-update.html' with pay_option=unlimited %}
    </div>


{% endblock %}
