<form method="POST" action="{% url 'cart:remove' %}" class="form">
    {% csrf_token %}
    <input type="hidden" name="member_id" value="{{ member.id }}" />
    {% if in_cart %}
        <button type="submit" class="btn btn-link btn-sm" style="padding: 0; cursor: pointer">Remove?</button>
    {% endif %}

</form>
