<form method="POST" action="{% url 'cart:update' %}" class="form">
    {% csrf_token %}
    <input type="hidden" name="member_id" value="{{ member.id }}" />

            <button type="submit" class="btn btn-success">Send</button>

</form>
